name: Deploy to DEV on PR Merge

on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Execute script on remote server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.REMOTE_DEV_HOST }}
          username: ${{ secrets.REMOTE_DEV_USER }}
          key: ${{ secrets.DEV_SSH_PRIVATE_KEY }}
          script: |
            cd /srv/appHome/nodeapps/churchlify-api/
            # Pull latest code
            git pull origin main

            # Recreate .env with fresh secrets
            rm -f .env
            echo "PORT=${{ secrets.PORT }}" >> .env
            echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> .env
            echo "GOOGLE_CLOUD_CREDENTIALS=${{ secrets.GOOGLE_CLOUD_CREDENTIALS }}" >> .env
            echo "MONGO_URI=${{ secrets.MONGO_URI }}" >> .env
            echo "EMAIL=${{ secrets.EMAIL }}" >> .env
            echo "EMAIL_PASS=${{ secrets.EMAIL_PASS }}" >> .env
            echo "EMAIL_CLIENT_ID=${{ secrets.EMAIL }}" >> .env
            echo "EMAIL_CLIENT_SECRET=${{ secrets.EMAIL_PASS }}" >> .env
            echo "TURN_SECRET=${{ secrets.TURN_SECRET }}" >> .env
            echo "REMOTE_HOST=${{ secrets.REMOTE_DEV_HOST }}" >> .env 
            echo "API_BASE_URL=${{ secrets.REMOTE_DEV_HOST }}" >> .env 
            echo "API_BASE_URL=${{ secrets.DEV_BASE_URL }}" >> .env 
            echo "ENCRYPTION_KEY_V1=${{ secrets.ENCRYPTION_KEY_V1 }}" >> .env
            echo "ENCRYPTION_KEY_V2=${{ secrets.ENCRYPTION_KEY_V2 }}" >> .env
            echo "ENCRYPTION_KEY_V3=${{ secrets.ENCRYPTION_KEY_V3 }}" >> .env 
            echo "ENCRYPTION_KEY_V4=${{ secrets.ENCRYPTION_KEY_V4 }}" >> .env 
            echo "FRONTEND_URL=${{ secrets.FRONTEND_URL }}" >> .env
            echo "YOUTUBE_API_KEY=${{ secrets.YOUTUBE_API_KEY }}" >> .env 
            echo "EMAIL_API_URL=${{ secrets.EMAIL_API_URL }}" >> .env 

            # Ensure coturn directory exists
            mkdir -p coturn

            # Write turnserver.conf
            cat > coturn/turnserver.conf <<EOL
            listening-port=3478
            tls-listening-port=5349
            listening-ip=0.0.0.0
            external-ip=${{ secrets.REMOTE_DEV_HOST }}
            fingerprint
            use-auth-secret
            static-auth-secret=${{ secrets.TURN_SECRET }}
            realm=${{ secrets.REMOTE_DEV_HOST }}
            total-quota=100
            bps-capacity=0cs
            log-file=/var/log/turn.log
            simple-log
            EOL

            # Restart Docker stack
            docker compose -p sevenc up -d --build
